{% extends "0_base.html" %}
{% block title %}
Data_User
{% endblock %}

{% block block1%}
{% if user %}
Hello {{user}}
{% else %}
点击右下角登录
{% endif %}
{% endblock %}

{% block body %}
<div style="text-align: center;" class="my_h1">
    <h1>
        Restaurant--数据展示
    </h1>
</div>
<div style="text-align: center;">
    <button type="button" id="res_add" class="btn btn-outline-danger btn-lg" data-toggle="modal"
        data-target="#res_hidden_form">
        ADD Res
    </button>
</div>

<div style="text-align: center;">
    <table class=" table">
        <thead class="thead-light">
            <tr>
                <th scope="col">RES_ID</th>
                <th scope="col">RES_NAME</th>
                <th scope="col">MAIL</th>
                <th scope="col">TELEPHONEJ</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">password</th>
                <th scope="col">OPERATION</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datalist %}
            <tr>
                <td>{{item.res_id}}</td>
                <td>{{item.res_name}}</td>
                <td>{{item.mail}}</td>
                <td>{{item.telephone}}</td>
                <td>{{item.address_}}</td>
                <td>{{item.password}}</td>
                <td>
                    <!-- <a href="/update/edit/res" class="btn btn-primary">Edit</a> -->
                    <a class="btn btn-danger" data-type="res" data-id="{{item.res_id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<!-- 商家注册的表单 -->
<div class="modal fade" id="res_hidden_form" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" id="resform" action="/update/add/res" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputId">Res_id</label>
                            <input type="text" class="form-control" id="resid" name="res_id" value='自动分配' readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName">Res Name</label>
                            <input type="text" class="form-control" name="res_name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Res Email</label>
                            <input type="mail" class="form-control" id="inputEmail" name="mail" value="xx@xx.com"
                                placeholder="xxx@xx.com" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Password4">Password</label>
                            <input type="password" class="form-control" id="Password4" name="password_" value=""
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" name="address_" required>
                    </div>
                    <div class="form-group">
                        <label for="inputTel">Telephone</label>
                        <input type="number" class="form-control" id="inputTel" name="telephone" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close_id" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button type="submit" id="submit_res_sign" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}